<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="showNav==true">
  <div class="container-fluid">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        
        
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SME Insurance
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="sme/marine">Marine Insurance abc</a></li>  
            <li><a class="dropdown-item" routerLink="sme/fire">Fire Insurance</a></li>
            
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Corporate Insurance
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="corporate/products">Products</a></li>
            <li><a class="dropdown-item" routerLink="corporate/riskMan">Risk Management</a></li>
            
          </ul>
         </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="renewals">Renewals</a>
        </li>

       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Claims Guard Practise
          </a>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item" routerLink="claims/"> Claims</a></li>
            <li><a class="dropdown-item" routerLink="claims/health-claim">Health Claims</a></li>
            <li><a class="dropdown-item" routerLink="claims/motor-claim">Motor Claims</a></li>
            
          </ul>
         </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Other Insurances
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="otherIns/crop-ins"> Crop Insurance</a></li>
            <li><a class="dropdown-item" routerLink="otherIns/nri-ins">NRI Insurance</a></li>
           
            
          </ul>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="firstComp">Guard Deactivate</a>
        </li>

        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Practise
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="practise"> Practise1 </a></li>
            <li><a class="dropdown-item" routerLink="practiseTwo">Practise2</a></li>
            <li><a class="dropdown-item" routerLink="parent">Parent</a></li>
            <li><a class="dropdown-item" routerLink="featModule/innerComp">Lazy Loading component</a></li>
           
            
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          miscellaneous 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="ngTemp"> NG template </a></li>
            <li><a class="dropdown-item" routerLink="ngContent"> MisParent</a></li>
             <li><a class="dropdown-item" routerLink="host">Host Concepts</a></li>
            
           
            
          </ul>
        </li>

        <li class="nav-item">
          <button class="btn btn-dark" (click)="onLogout()">Logout</button>
        </li>

        
      
      </ul>
  
  </div>
</nav>

<router-outlet></router-outlet>
